extends layout-components
	
block page-container
	div.page-wrap
		div.page.wireframe
			block page

	div.sidebar-wrap
		div.sidebar.wireframe
			a.sidebar-item#sb-home( href="/" ) 
				span.fa.fa-home
					span.text home
			//- a.sidebar-item#sb-docs( href="/docs" ) 
			//- 	span.fa.fa-book
			//- 		span.text getting started
			a.sidebar-item#sb-packages( href="/packages" ) 
				span.fa.fa-square 
					span.text packages
			- var favorites = user.name ? "favorites" : "login"
				a.sidebar-item#sb-favorites( data-action="favorites" )
					span.fa.fa-heart 
						span.text favorites
			a.sidebar-item#sb-categories
				span.fa.fa-tasks 
					span.text categories
			block sidebar

