extends layout

mixin preload
	div.preload-wrap
		p.text.preload
		p.text.preload
		p.text.preload

block head
	title iff - the matlab/octave package manager

block page
	div.page-item
		+preload
	div.page-item
		+preload
	div.page-item
		+preload
