extends layout-components
	
block head
	link( rel="stylesheet" type="text/css" href="../css/stylesheets/home.css" )
	title iff - sign up

block page-container
	h1.big-title <em id="title-iff">I F F</em>

	p.about 
		| Superior package management for the Matlab/Octave community.

	a.install( href="https://github.com/jonbrennecke/iff/archive/master.zip") install
	a.install( href="/packages") view packages
	a.install( href="/docs") reference

