extends layout-components
	
block page-container
	div.page-wrap
		div.page.wireframe
			block page

	div.sidebar-wrap
		div.sidebar.wireframe
			a.sidebar-item( href="/" ) 
				span.fa.fa-home
					span.text home
			a.sidebar-item( href="/packages" ) 
				span.fa.fa-square 
					span.text packages
			a.sidebar-item
				span.fa.fa-heart 
					span.text favorites
			a.sidebar-item
				span.fa.fa-tasks 
					span.text categories
			block sidebar

