doctype html
html(lang="en")
	head
		link( rel="stylesheet" type="text/css" href="../css/stylesheets/screen.css" )
		script( data-main="../scripts/main.js" src="../scripts/bower_components/requirejs/require.js" )
		block head
	body
		block body