@import "basis"

.page
	.contents
		display: none

.page-wrap
	width: 100% !important
	left: 0 !important

.page.filled

	.contents
		display: block
		padding: 2em
		font-family: "Ubuntu", sans-serif
		color: $header-color

		.header
			font-weight: lighter
			color: $sidebar-color

			.hdr
				font-family: "Ubuntu", sans-serif

		h1
			@extend .header
			font-size: 42pt

		h2
			@extend .header
			font-size: 22pt
			padding: 0.5em 0

		.about
			padding: 1em

		.text
			position: relative
			display: block
			padding: 1em 0

			a
				color: darken($sidebar-color,15%)
				text-decoration: none

		.bigger-text
			@extend .text
			font-size: 1.5em
			line-height: 1.5em

		.cmdlet
			display: block
			background: $peach
			color: $pale
			padding: 1em 2em
			width: 20em
			border-radius: 10px

			&:before
				content: '$ '
				color: $pale